<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在浏览器测试一下</title>
    <script src="./../dist/{{fullName}}.bundle-web.js"></script>
    <style>
        body{
            padding: 100px;
            text-align: center;
            font-size: 22px;
        }
    </style>
</head>
<body>
        <div>引入了 /dist/{{fullName}}.bundle-web.js </div>
        (0_0) 打开控制台调试吧

</body>
</html>
