# {{fullName}}


## Usage

### Install
```bash
npm i -S {{name}}
```

### Import
```js
// ES6 modules
import  {{fullName}} from "{{name}}"

// Node.js (CJS) modules
var  {{fullName}} =  require ("{{name}}")

// 浏览器载入
<script src="{{fullName}}.umd.js"></script>

// 捆绑了所有 node_modules 依赖
import {{fullName}} from "{{name}}/dist/{{fullName}}.node-bundle.js"

// 捆绑了所有 node_modules 依赖，浏览器适用
import {{fullName}} from "{{name}}/dist/{{fullName}}.web-bundle.js"
```


## Doc










